$MAIN-BG: #eef3f6;
$OUTSIDE-BG: #d2dce2;
$BLACK-TEXT: #433a3a;
$DEFOCUSED-TEXT: #a5a5a5;
$WHITE-TEXT: #edf2f5;
$BORDERS: #707070;
$HOAX-BTN-BG: #ff8fb0;
$SOSMED-BTN-BG: #c185e9;
$WHITE-COMP-BG: #f5fffc;
$SHADOW: rgba(00, 00, 00, 0.2);

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: $BLACK-TEXT;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: $OUTSIDE-BG;
}

.page-wrapper {
  background-color: $MAIN-BG;
  max-width: 450px;
  min-height: 100vh;
  margin: auto;
  overflow: hidden;
}

.app-nav {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 95%;
  max-width: 420px;
  height: 70px;
  border-radius: 15px;
  z-index: 10;
  background-color: $OUTSIDE-BG;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 6px 10px $SHADOW;
  transition: all 500ms ease-in-out;

  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fas {
    font-size: 1.4em;
    color: $DEFOCUSED-TEXT;
  }

  a {
    color: $BLACK-TEXT;
    text-decoration: none;
    font-size: 0.9em;
    padding-top: 5px;
  }
}

.hidden {
  opacity: 0;
  bottom: -110%;
}

.page-inner-wrapper {
  width: 85%;
  margin: auto;
  color: $BLACK-TEXT;
  position: relative;
  padding-bottom: 4rem;

  .page-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding: 2rem 0;
    font-size: 2.2em;
  }
  .page-subtitle {
    width: 80%;
    margin-top: -1.5rem;
    font-size: 0.9rem;
  }
  .home-nav {
    display: flex;

    li {
      list-style: none;
      margin: 0 1em;
      cursor: pointer;
    }
    :nth-child(1) {
      margin-left: 0;
    }
  }

  .provinsi-title {
    text-align: center;
    margin: 2.5em 0 1.5em 0;
    small {
      font-weight: 500;
    }
  }

  .provinsi-stats {
    background-color: $WHITE-COMP-BG;
    padding: 2rem 0;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 20px $SHADOW;
    background-image: url("./assets/home-stats-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    p {
      margin-top: 20px;
      font-size: 0.9em;
    }
  }

  .stats-flex {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    .stats-item {
      flex: 1;
    }
  }

  .placeholder {
    height: 280px;
    background-color: $OUTSIDE-BG;
  }

  .more-wrapper {
    display: flex;
    justify-content: center;

    .chart-more {
      display: inline-block;
      text-decoration: none;
      color: $BLACK-TEXT;
      padding: 0.6rem 1.2rem;
      border-radius: 12px;
      border: 1px solid $BORDERS;
      margin: 2rem auto;
      font-size: 0.9em;
      text-align: center;
    }
  }

  .kabupaten-stats-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem 1.3rem;
    border-radius: 10px;
    background-color: $WHITE-COMP-BG;
    box-shadow: 0px 6px 20px $SHADOW;
    z-index: 5;
    position: relative;

    h3 {
      font-size: 1.1rem;
    }
    .kabupaten-title {
      margin-right: 18px;
    }

    .kabupaten-stats {
      display: flex;

      .stats-item {
        margin: 0 8px;
        text-align: center;
      }
    }
  }

  .kecamatan-stats-wrapper {
    width: 90%;
    padding: 1em;
    margin: auto;
    border-radius: 0 0 10px 10px;
    background-color: $WHITE-COMP-BG;
    .kecamatan-stats {
      width: 100%;

      tr {
        line-height: 1.5;
      }

      tr:nth-child(1) {
        line-height: 3;
      }

      .kecamatan-name-row {
        text-align: start;
      }

      .kecamatan-stats-active,
      .kecamatan-stats-odp,
      .kecamatan-stats-pdp {
        text-align: center;
      }
    }
  }

  .data-update {
    display: block;
    text-align: end;
  }

  .header-static-section {
    position: fixed;
    width: 100%;
    max-width: 450px;
    height: 40vh;
    background-color: $MAIN-BG;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0 2rem;
    // right: 0;
    overflow: hidden;
  }
}

.scroll-indicator {
  background-color: $BLACK-TEXT;
  position: sticky;
  top: 20px;
  width: 80px;
  height: 5px;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 20px;
}

.berita-inner,
.medsos-page .page-inner-wrapper,
.hoax-page .page-inner-wrapper {
  padding-bottom: 0;
}

.berita-menu {
  display: flex;
  margin: 1.5rem 0;
  height: 35%;
  a {
    flex: 1;
  }
  .berita-menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0 0.8em;
    padding: 0 1.5rem;
    text-align: end;
    border-radius: 15px;
    cursor: pointer;
    color: $WHITE-TEXT;
  }

  .menu-hoax {
    background-image: url("./assets/menu-hoax-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    h3 {
      font-size: 1.2rem;
    }
  }
  .menu-social {
    background-image: url("./assets/menu-social-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    h3 {
      margin-bottom: 10px;
      font-size: 1.2rem;
    }
    h4 {
      font-size: 1rem;
    }
  }
}

.berita-inner {
  padding-top: 40vh;
}

.berita-container {
  background-color: $WHITE-COMP-BG;
  border-radius: 40px 40px 0 0;
  box-shadow: 0 -5px 15px $SHADOW;
  position: relative;
  z-index: 5;
  padding-bottom: 4rem;

  .berita-wrapper {
    width: 80%;
    margin: auto;
    padding: 1rem 0;

    #berita-select {
      padding: 6px 10px;
      border-radius: 5px;
      border: 1px solid $BORDERS;
    }

    .berita-item-wrapper {
      margin: 2rem 0;

      .berita-item {
        margin-bottom: 1.7rem;

        .berita-excerpt {
          margin-top: 0.8em;
        }
      }
    }
  }
}

.article-container {
  margin-top: 2.5rem;
  padding-bottom: 3rem;

  .headline-item {
    border-radius: 20px;
    position: relative;
    height: 200px;
    padding: 2rem 1.5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    box-shadow: 0 6px 15px $SHADOW;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $SHADOW;
    }
    h3 {
      font-size: 1.4rem;
      color: $WHITE-TEXT;
      position: relative;
      z-index: 4;
    }
  }

  .article-item {
    display: flex;
    margin-top: 1.5rem;
    background-color: $WHITE-COMP-BG;
    box-shadow: 0 6px 15px $SHADOW;
    border-radius: 20px;

    h3 {
      font-size: 1rem;
    }

    .article-item-img {
      width: 40%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: rgb(221, 221, 221);
      border-radius: 20px;
      position: relative;
      z-index: 8;

      img {
        width: 0;
        display: none;
      }
    }

    .article-item-title {
      padding: 2rem 1.5rem;
    }
  }
}

.berita-subpage {
  padding-bottom: 5rem;

  header {
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 0 40px 40px;
    box-shadow: 0 6px 20px $SHADOW;
    margin-bottom: 3rem;
  }
  .page-title {
    font-size: 2.5rem;
    margin-top: -0.5em;
    color: $WHITE-TEXT;
  }
  .page-subtitle {
    font-size: 1rem;
    color: $WHITE-TEXT;
    line-height: 1.4rem;
  }
  .back-btn {
    display: inline-block;
    margin-top: 1.5em;
    margin-left: -15px;
    padding: 0.6em 1em;
    border-radius: 10px;

    .btn-inner {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.hoax-page {
  header {
    background-image: url("./assets/menu-hoax-bg.svg");
    background-color: $HOAX-BTN-BG;
  }
  .back-btn {
    background-color: $HOAX-BTN-BG;
  }
  .accordion-title {
    background-color: #fff;
    padding: 1em 1.3em;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 4px 10px $SHADOW;
    position: relative;
    font-size: 0.9rem;
    z-index: 6;
  }

  .accordion-content {
    width: 90%;
    margin: auto;
    background-color: #fff;
    padding: 1.5em 1.3em;
    border-radius: 0 0 15px 15px;
    font-size: 0.9rem;

    .fact-source {
      margin-top: 1em;
      text-align: end;
    }
  }
}

.medsos-page {
  header {
    background-image: url("./assets/menu-social-bg.svg");
    background-color: $SOSMED-BTN-BG;
  }
  .back-btn {
    background-color: $SOSMED-BTN-BG;
  }
  .instagram-wrapper img,
  .member-wrapper img {
    width: 70px;
    border-radius: 50%;
  }
  .instagram-wrapper {
    width: 70%;
    margin: auto;
    padding: 2rem 1rem;
    background-color: #fff;
    border-radius: 15px;
    text-align: center;

    .profile-name {
      h4 {
        margin: 10px 0;
      }
    }

    .profile-stats {
      display: flex;
      justify-content: space-between;
      p {
        flex: 1;
        margin: 0 10px;
        font-size: 0.8em;
      }
    }

    .profile-cta {
      width: 80%;
      margin: 2rem auto 0 auto;
      padding: 0.8rem 0;
      color: $WHITE-TEXT;
      border-radius: 15px;
      background-color: $SOSMED-BTN-BG;
    }
  }
  .member-wrapper {
    text-align: center;
    margin-top: 2rem;

    .bottom-acknowledment {
      display: inline-block;
      margin: 2rem auto;
    }

    h3 {
      margin-bottom: 1.5rem;
    }

    .member-item-container {
      display: flex;

      .member-item {
        flex: 1;
        background-color: #fff;
        border-radius: 15px;
        margin: 0 0.8em;
        padding: 1.4rem 0.8rem;

        small {
          display: block;
        }

        h4 {
          margin: 10px 0;
        }

        .member-item-social {
          margin-top: 15px;
          i {
            padding: 0 8px;
          }
        }
      }
    }
  }
}

.single-article {
  header {
    background-color: $BORDERS;
    position: relative;
    overflow: hidden;

    h2 {
      color: $WHITE-TEXT;
      font-size: 2rem;
      position: relative;
      z-index: 3;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      background-color: rgba(00, 00, 00, 0.4);
    }
    .page-inner-wrapper {
      height: 100%;
      padding: 1.5rem 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .back-btn {
    background-color: $SHADOW;
    position: relative;
    z-index: 4;
    margin-top: 0;
  }

  .article-wrapper {
    p {
      line-height: 1.7rem;
      margin-bottom: 1.5rem;
    }
  }
}

.home-province-enter {
  position: absolute;
  width: 100%;
  transform: translateX(-120%);
}
.home-province-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}
.home-province-exit {
  position: absolute;
  width: 100%;
  transform: translateX(0%);
}
.home-province-exit-active {
  transform: translateX(-120%);
  transition: all 500ms ease;
}

.home-regency-enter {
  transform: translateX(120%);
  width: 100%;
}
.home-regency-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}
.home-regency-exit {
  position: absolute;
  width: 100%;
}
.home-regency-exit-active {
  transform: translateX(120%);
  transition: all 500ms ease;
}

// Page transition

.page-enter {
  max-width: 450px;
  width: 100%;
  height: 100%;
  // transform: translateY(70px);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  transition-delay: 500ms;
}
.page-enter-active {
  position: absolute;
  max-width: 450px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}
.page-exit {
  max-width: 450px;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
.page-exit-active {
  opacity: 0;
  max-width: 450px;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 390px) {
  .page-inner-wrapper {
    .home-nav {
      li {
        font-size: 0.9rem;
      }
    }
    .provinsi-stats {
      padding: 1rem 0;
      p {
        font-size: 0.8em;
      }
    }
    .page-title {
      font-size: 1.6rem;
    }
    .page-subtitle {
      font-size: 0.8rem;
    }
    .kabupaten-stats-wrapper h3 {
      font-size: 0.9rem;
    }
  }

  .berita-menu {
    margin: 1rem 0;
    .menu-hoax {
      h3 {
        font-size: 1rem;
      }
    }
    .menu-social {
      h3 {
        font-size: 1rem;
      }
      h4 {
        font-size: 0.8rem;
      }
    }
  }

  .berita-subpage {
    header {
      height: 230px;
    }
    .page-title {
      font-size: 2rem;
    }
    .page-subtitle {
      font-size: 0.8rem;
    }
    .back-btn {
      padding: 0.4em 0.8em;
      .btn-inner {
        width: 15px;
      }
    }
  }

  .hoax-page {
    .accordion-content {
      font-size: 0.8rem;
    }
  }

  .medsos-page {
    .instagram-wrapper {
      width: 100%;
    }
    .member-wrapper .member-item-container {
      flex-direction: column;
      .member-item {
        margin: 0.8em 0;
      }
    }
  }
}
.accordion__button {
  &:focus {
    outline: none;
  }
}
